<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Task Reminder</title>
</head>
<body>
    <div class="container">
        <form class="inputContainer">
            <label for="text">Task Name:</label><br>
            <input type="text" name="text" id="text" placeholder="Enter Task" required>
            <br>
            <label for="dateTime">Select Deadline:</label><br>
            <input type="datetime-local" name="dateTime" id="dateTime" required  >
            <br>
            <button type="submit" id="btn">Submit</button>
        </form>
        <div class="outputContainer">
            <p id="outputPara">This is task <span id="outputDate">2025-03-13</span></p>
        </div>
    </div>

    <script>
        const button = document.getElementById('btn');

        button.addEventListener('click', (e) => {
            e.preventDefault();
            const textInput = document.getElementById('text');
            const dateTime  = document.getElementById("dateTime");
            const deadline = new Date(dateTime.value);
            const result = document.getElementById('outputPara');

            result.innerHTML = `${textInput.value}  Deadline:<span id="outputDate">${deadline.toLocaleDateString()}</span>`
        })

    </script>
</body>
</html>